@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Geist Variable', sans-serif;
  }
  :root {
    /* ... your variables ... */
  }
  .dark {
    /* ... your variables ... */
  }
  * {
    border-color: var(--border);
    outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
  html {
    font-family: var(--font-sans);
  }
}